@import 'roboto.scss';
@import '~normalize.css';

body {
    font-family: 'Roboto', sans-serif;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #24243e,
        #302b63,
        #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #ffffff;
}

fieldset,
input,
form,
legend {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 80vh;
    align-items: center;
}

.container img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

h1 {
    justify-self: center;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

form {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-areas: 'fieldset-1 . fieldset-2';
    fieldset {
        grid-area: fieldset;
        border-radius: 15px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px solid #fff;
        font-size: 1.4em;
        legend {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 5px;
        }
        div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            select {
                box-sizing: border-box;
                padding: 5px 10px;
                outline: none;
                overflow: scroll;
                margin-bottom: 20px;
                height: 60px;
                border-radius: 10px;
                width: 70%;
                &:focus {
                    outline: none;
                    border: 3px solid #e93326;
                }
            }
        }
    }
    .fieldset-1 {
        grid-area: fieldset-1;
        div {
            input {
                width: 70%;
                border: none;
                color: rgb(0, 34, 114);
                font-size: 3rem;
                height: 60px;
                padding-left: 20px;
                background: rgb(255, 255, 255);
                border-width: 0px;
                border-style: initial;
                border-color: initial;
                border-image: initial;
                border-radius: 10px;
                &:focus {
                    outline: none;
                    border: 3px solid #e93326;
                }
            }
        }
    }
    .fieldset-2 {
        grid-area: fieldset-2;
        h2 {
            font-size: 2em;
            color: #ffc400;
        }
    }
}